# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
bin/
lib/
lib64/
include/
pyvenv.cfg

# Env vars
.env

# Logs & cache
*.log
.cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
.DS_Store